.ContainerBtnsMudi {
    width: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
}

.animate-Shaking {
    animation-name: shaking;
    animation-duration: .3s;
    animation-delay: 1s;
}

.btnMudi3D {
    width: 80px !important;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 33px -18px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 10px 10px 33px -18px rgba(0, 0, 0, 0.58);
    box-shadow: 10px 10px 33px -18px rgba(0, 0, 0, 0.58);
    border-radius: 50px;
}

.mudiTooltip {
    position: absolute;
    top: -70%;
    right: -60%;
    width: 351px;
    text-align: center;
    background-color: #b5b5b5;
    padding: 0px 20px;
    border-radius: 50px;
    opacity: 1;
    margin: 0;
    color: white;
    transform: scale(0.8);
}

.mudiTooltip::after {
    content: "_";
    font-size: 10px;
    position: absolute;
    background-color: #b5b5b5;
    color: #b5b5b5;
    width: 12px;
    bottom: -11px;
    right: 15%;
    border-bottom-right-radius: 20px;
}

.paragraphMudi {
    font-size: 15px;
    margin: 2px;
    line-height: 19px;
    padding: 5px 0px;
}

.newMudi {
    font-size: 18px;
}

.mudiModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.366);
    width: 100%;
    height: 100vh;
}

.iframeMudi3D {
    width: 70%;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

.closeModalMudi {
    position: absolute;
    top: -2.5%;
    right: -1%;
    background-color: #007297;
    margin: 8px 4px;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 9px;
    padding: 4px 10px;
}

.modelMudi {
    width: 100%;
    height: 100%;
    border: none;
}

.btnMudiAR {
    position: absolute;
    width: 15%;
    top: 3%;
    right: 2%;
}

.containerQRMudi {
    position: absolute;
    top: 46px;
    transform: scale(0.8);
    right: -3px;
    display: flex;
    flex-direction: column;
    background-color: #007297;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 0;
    color: white;
}

.mudiQR {
    width: 250px;
    padding: 30px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
}

.containerText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stepMudi {
    width: 35px;
}

.titleContainer {
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-end;
}

.titleContainer:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
}

.hrTitle {
    margin: 2px auto 10px auto;
    border: none;
    outline: none;
    height: 2px;
    width: 90%;
    background-color: white;
}

@media screen and (min-width:1400px) and (max-width:1699px) {

    .containerQRMudi {
        position: absolute;
        top: -10px;
        transform: scale(0.7);
        right: -40px;
        display: flex;
        flex-direction: column;
        background-color: #007297;
        padding: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        z-index: 0;
        color: white;
    }
}

@media screen and (min-width:1100px) and (max-width:1399px) {

    .containerQRMudi {
        position: absolute;
        top: -55px;
        transform: scale(0.6);
        right: -50px;
        display: flex;
        flex-direction: column;
        background-color: #007297;
        padding: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        z-index: 0;
        color: white;
    }
}

@media screen and (max-width:500px) {
    .iframeMudi3D {
        width: 90%;
    }

    .btnMudiAR {
        position: absolute;
        top: 5%;
        bottom: 0% !important;
        width: 40%;
    }
}

@keyframes shaking {
    0% {
        transform: translateX(0px);
    }

    12.5% {
        transform: translateX(5px);
    }

    25% {
        transform: translateX(0px);
    }

    37.5% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(0px);
    }

    62.5% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(0px);
    }

    87.5% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0px);
    }


}